name: nova_grid
description: >
  NovaGrid is a modern Flutter data table that supports advanced features
  like stacked headers, pagination, sorting, and customizable cell widgets.
  Built for flexibility, styling, and performance on the web and mobile.
version: 0.0.3
repository: https://github.com/hajul-dhanish/nova_grid
issue_tracker: https://github.com/hajul-dhanish/nova_grid/issues
documentation: https://github.com/yourusername/nova_grid#readme

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
